@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

/* Css Reset */
/* box sizing */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

/* Remove default margin */

* {
    margin: 0;
}

/* Allow percentage-based heights */
html,
body {
    height: 100%;
}


/* Tweaking line height */
body {
    line-height: 1.4;
}

/* Improve media defaults */
img,
picture,
canvas,
svg,
video {
    display: block;
    max-width: 100%;
}

/* remove default typography styles */
input,
button,
textarea,
select {
    font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Remove default list style */
ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --ff: 'Roboto', sans-serif;
    /* Colors */
    --blue: #459ae9;
    --gray: #94a4bf;
    --light-color: #f5f7f7;
    --dark-blue: #0f1632;
    --dark-red: #be5151;
    --p-b: #fe3d66;
    --hot-blue: #2d71f3;
    --s-yellew: #d3a65f;
    --s-gray: #5c6279;
    -s-dark-blue: #101632;
}

body {
    font-family: var(--ff);
}

.container {
    margin: 0 auto;
    padding: 20px 25px;

}

/* small screens */
@media (min-width:768px) {
    .container {
        width: 720px;
    }
}

/* Medium  screens */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* large screens */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* Start Header */
header {
    background-color: var(--light-color);
}

header .container {
    position: relative;
}

header nav li {
    padding: 10px 20px;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

header nav i {
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;
    pointer-events: none;
}

header .btn {
    background-color: var(--p-b);
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 12px;
    cursor: pointer;
}

header .icon {
    display: none;
    width: 36px;
}

@media (max-width:991px) {
    header .container .navbar {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: absolute;
        top: calc(100% + 20px);
        left: 0;
        width: 100%;
        background-color: white;
        z-index: 100;
        opacity: 0;
        transition: .5s;
    }

    header .container li {
        transition: all .5s;
        width: 100%;
    }

    header .container li:hover {
        margin-left: 15px;
        background-color: var(--light-color);
        border-radius: 5px;
    }

    header .icon {
        display: block;
        order: 2;
    }

    header .icon:hover~.navbar {
        opacity: 1;
        top: calc(100% + 1px);
    }
}

header .icon span {
    width: 100%;
    height: 3px;
    display: block;
    background-color: black;
}

header .icon span:not(last-child) {
    margin-bottom: 6px;
}

/* Header End */
/* Landing Start */
.landing {
    padding-top: 100px;
    height: calc(100vh - 90px);
    background-color: var(--light-color);
    position: relative;
}

.landing .container .content {
    max-width: 330px;
    margin-top: 35px;
}

@media (max-width:991px) {
    .landing .container .content {
        margin: 0 auto;
    }
}

.landing .container .content h1 {
    font-weight: 400;
    font-size: 46px;
    line-height: 1;
}

@media (max-width:767px) {
    .landing .container .content h1 {
        font-size: 27px;
    }
}

.landing .container .content p {
    margin: 15px 0 25px;
    font-size: 13px;
}

.landing form {
    position: relative;
}

.landing input {
    width: 290px;
    border: none;
    border-radius: 22px;
    padding: 10px 30px;
    border-left: 4px solid var(--p-b);

}

.landing form .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.landing form .left-icon {
    left: 10px;
}

.landing form .right-icon {
    right: 55px;
    color: var(--p-b);
    font-size: 18px;

}

.landing .container .people {
    margin-top: 30px;
    position: relative;
}

.landing .people img {
    width: 60px;
    border-radius: 50%;
    position: absolute;
}

.landing .people img:first-child {
    left: 112px;
}

.landing .people img:nth-child(2) {
    left: 75px;
}

.landing .people img:nth-child(3) {
    left: 37px;
}

.landing .people p:last-child {
    position: absolute;
    right: 15px;
    line-height: 1.3;
    z-index: 4;
}

.landing .people p:last-child span {
    font-size: 30px;
    font-weight: 700;
    color: black;
}

.landing .hero-image {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

@media (max-width:1299px) {
    .landing .hero-image {
        width: 750px;
    }
}
@media (max-width:1199px) {
    .landing .hero-image {
        width: 700px;
    }
}

@media (max-width:991px) {
    .landing .hero-image {
        width: 400px;
    }
}

@media (max-width:991px) {
    .landing .hero-image {
        width: 250px;
    }
}

/* Landing section End */
/* features Section */
.features {
    padding-top: 60px;
}

.features .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

@media (max-width:767px) {
    .features .header {
        flex-direction: column;
    }
}

.features .header button {
    align-self: flex-end;
    background-color: transparent;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid var(--gray);
}

.features .feat-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
}

.features .feat-content .feat {
    padding: 25px;
    border: 1px solid var(--light-color);
    border-radius: 6px;
}

@media (max-width:767px) {
    .features .feat-content .feat {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .features .feat p {
        text-align: center;
    }

}

.features .feat .icons {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features .feat:first-of-type .icons {
    background-color: var(--blue);
}

.features .feat:nth-of-type(2) .icons {
    background-color: var(--p-b);
}

.features .feat:nth-of-type(3) .icons {
    background-color: var(--hot-blue);
}

.features .feat:nth-of-type(4) .icons {
    background-color: var(--s-yellew);
}

.features .feat:nth-of-type(5) .icons {
    background-color: rgba(137, 43, 226, 0.411);
}

.features .feat:last-of-type .icons {
    background-color: rgba(0, 128, 0, 0.39);
}

.features .feat .icons i {
    color: white;
}

.features .feat p {
    margin-block: 15px 25px;
    font-size: 18px;
}

.features .feat button {
    background-color: transparent;
    border: none;
    text-transform: capitalize;
    color: var(--gray);
    font-weight: 500;
    cursor: pointer;
}

.features .footer {
    margin-block: 45px;
    background-color: var(--light-color);
    overflow: hidden;
    justify-content: space-evenly;
}

.features .footer .image {
    width: 300px;
    margin-bottom: -200px;
    flex: 1;
}

@media (max-width:767px) {
    .features .footer .image {
        display: none;
    }
}

.features .footer .text {
    flex: 1;
}

.features .footer .text .head {
    width: 320px;
    margin-bottom: 15px;
}

@media (max-width:767px) {
    .features .footer .text {
        text-align: center;
        padding: 15px;
    }

    .features .footer .text .head {
        width: 100%;
    }
}

.features .footer .head h2 {
    font-size: 30px;
}

@media (max-width:767px) {
    .features .footer .head h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }
}

.features .footer .head p {
    font-size: 15px;
}

@media (max-width:767px) {
    .features .footer .text .feat-footer.flex {
        flex-direction: column;
    }
}

.features .footer .text article.flex {
    align-items: flex-start;
}

@media (max-width:767px) {
    .features .footer .text article.flex h5 {
        width: fit-content;
    }
}

.features .footer article i {
    color: rgba(9, 138, 9, 0.808);
    margin-right: 10px;
}

.features .footer article p {
    font-size: 14px;
    margin-block: 15px;
}

/* The End of the Features Section  */
.second-features {
    background-color: var(--dark-blue);
    padding-block: 60px;
    position: relative;
    color: white;
}

.second-features .content {
    justify-content: space-evenly;
    margin-top: 65px;
}

@media (max-width:767px) {
    .second-features .content {
        flex-direction: column;
    }
}

.second-features .content .feates .feat {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 20px;
    align-items: flex-start;
    margin-block: 20px;
}

.second-features .content .feates .feat span {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 15px;
    position: relative;
}

.second-features .content .feates .feat:first-of-type span {
    background-color: var(--p-b);
}

.second-features .content .feates .feat:nth-of-type(2) span {
    background-color: var(--hot-blue);
}

.second-features .content .feates .feat:last-of-type span {
    background-color: rgba(9, 138, 9, 0.808);
}

.second-features .content .feates .feat span::before {
    content: "";
    content: "";
    position: absolute;
    left: -5px;
    top: -5px;
    width: 25px;
    height: 25px;
    border: 4px solid #95042365;
    border-radius: 50%;
}

.second-features .content .feates .feat:first-of-type span::before {
    border-color: #d1778b93;
}

.second-features .content .feates .feat:nth-of-type(2) span::before {
    border-color: #4473ca71;
}

.second-features .content .feates .feat:last-of-type span::before {
    border-color: rgba(23, 146, 23, 0.384);
}

.second-features .content .feates .feat p {
    font-size: 10px;
}

.second-features .content .image {
    max-width: 300px;
}

/* Second-features End */
/* Statics */
.statics {
    padding-top: 60px;
}

.statics .statics-content {
    margin-top: 45px;
}

.statics .statics-content .static {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 40px;
}

.statics .statics-content .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 0 10px var(--gray);
}

.statics .statics-content .box img {
    margin-top: 20px;
}

.statics .statics-content .box p {
    text-align: center;
    margin-bottom: 29px;
}

.statics .statics-content .box p span {
    font-size: 30px;
    font-weight: 700;
    color: black;
}

.statics .statics-content .video-section {
    margin-top: 65px;
    position: relative;
}

.statics .statics-content .video-section .video .img {
    position: relative;
}

.statics .statics-content .video-section .video .img span {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 50%;
}

.statics .statics-content .video-section .video .img::before {
    content: "";
    width: 54px;
    height: 54px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
}

.statics .statics-content .video-section .video .img::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-22%, -50%);
    border: 10px solid;
    border-color: transparent transparent transparent var(--p-b);
    border-radius: 2px;
}

@media (min-width:768px) {
    .statics .statics-content .video-section {
        display: grid;
        grid-template-columns: 2fr auto;
        grid-template-rows: repeat(2, auto);
        gap: 20px;

    }

    .statics .statics-content .video-section article {
        margin-left: 35px;
    }

    .statics .statics-content .video-section .s-video img {
        height: 276px;
    }

}

@media (min-width: 1200px) {
    .statics .statics-content .video-section .s-video img {
        min-height: 335px;
    }
}

.statics .statics-content .video-section article {
    margin-block: 25px;
}

.statics .statics-content .video-section article p {
    font-size: 15px;
    margin-block: 10px 25px;
}

.statics .statics-content .video-section article button {
    background-color: transparent;
    border: 1px solid var(--gray);
    padding: 11px 20px;
    border-radius: 20px;
    color: #000000db;
    text-transform: capitalize;
    font-weight: 500;
}

.statics .statics-content .video-section i {
    bottom: 170px;
    color: var(--dark-blue);
}
@media (max-width: 767px) {
    .statics .video-section i {
        display: none;
    }
}

/* Statics End */
.our-app {
    background-color: var(--light-color);
    padding-block: 60px;
}

.our-app .main-title {
    margin-block: 10px;
}

.our-app .container p {
    margin-bottom: 15px;
}


.our-app .container a {
    display: inline-flex;
    align-items: center;
    width: fit-content;
    padding: 12px 30px;
    border-radius: 10px;
    line-height: .9;
    text-align: center;
}

@media (max-width:600px) {
    .our-app .container a {
        padding: 11px;
    }
}

.our-app .container a:first-of-type {
    background-color: var(--dark-blue);
    color: white;
    margin-right: 10px;
}

.our-app .container a:last-of-type {
    background-color: white;
    color: var(--dark-blue);
}

.our-app .container a span strong {
    display: block;
    font-size: 30px;
    text-transform: capitalize;
}

.our-app .container a i {
    font-size: 30px;
    margin-right: 5px;
}

/* Pricing Start */
.pricing {
    padding-block: 60px;

}

.pricing .main-head h2 {
    width: fit-content;
    margin-bottom: 10px;
}

.pricing .container .time {
    width: fit-content;
    margin: 0 auto 25px;
    border: 1px solid var(--gray);
    padding: 2px 4px;
    border-radius: 15px;
}

.pricing .container .time span:first-child {
    background-color: var(--p-b);
    color: white;
    padding: 2px 10px;
    border-radius: 15px;
    display: inline-block;
    margin-right: 15px;
}

.pricing .container .pricing-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.pricing .container .pricing-content .plan {
    border: 1px solid #b6becb38;
    padding: 35px 25px;
    border-radius: 6px;
    background-color: #f3f7f74a;
    width: 290px;
}

.pricing .container .pricing-content .plan:nth-child(2) {
    border-top: 3px solid var(--p-b);
    box-shadow: 0 0 10px 1px var(--gray);
    transform: translateZ(15px);
    background-color: white;
    position: relative;
}

.pricing .container .pricing-content .plan:nth-child(2)::before {
    content: attr(data-text);
    background-color: blue;
    color: white;
    padding: 0 10px;
    border-radius: 12px 0 0 12px;
    text-transform: capitalize;
    position: absolute;
    right: -2px;
    top: 12px;
}

.pricing .pricing-content .plan p.timing {
    font-size: 10px;
    position: relative;
    color: var(--s-gray);
    margin-block: 12px 5px;
}

.pricing .pricing-content .plan p.timing::before {
    content: "$";
    font-size: 15px;
    position: absolute;
    left: -10px;
    top: 8px;
}

.pricing .pricing-content .plan p:last-of-type {
    color: var(--s-gray);
    font-size: 12px;
}

.pricing .pricing-content .plan p span {
    font-size: 30px;
    font-weight: 700;
    color: black;
}

.pricing .pricing-content .plan ul {
    border-top: 1px solid var(--gray);
    margin-top: 20px;
    padding: 20px 0;
}

.pricing .pricing-content .plan ul li i {
    margin-right: 6px;
    color: #68db6891;
}

.pricing .pricing-content .plan button {
    background-color: transparent;
    border: 1px solid var(--gray);
    padding: 5px 10px;
    border-radius: 15px;
    font-weight: 500;
    margin-bottom: 20px;
}

.pricing .container .pricing-content .plan:nth-child(2) button {
    background-color: var(--p-b);
    color: white;
}

/* Pricing End */
/* Testo Start */
.testemonial .container {
    background-color: var(--hot-blue);
    justify-content: center;
    padding-block: 50px;
}

.testemonial .container .content {
    justify-content: center;
    gap: 30px;
}

@media (max-width: 767px) {
    .testemonial .container .content {
        flex-direction: column;
    }
}

.testemonial .container .content .image img {
    border-radius: 50%;
}

.testemonial .container .content .image .icons {
    color: var(--light-color);
    padding: 15px;
    line-height: 1.6;
}

.testemonial .container .content .image .icons i {
    color: #e99510;
}

.testemonial .container .content .text {
    width: 45%;
    color: var(--light-color);
    position: relative;
}

@media (max-width: 767px) {
    .testemonial .container .content .text {
        width: fit-content;
        text-align: center;
    }
}

.testemonial .container .content .text p {
    margin-bottom: 25px;
    color: var(--light-color);
    line-height: 1.6;
}

/* .testemonial .container .content .text i {
    color: var(--light-color);
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.534);
    border-radius: 50%;
    position: absolute;
    right: 0;
} */

/* .testemonial .container .content .text i.left {
    right: 45px;
} */

@media (max-width: 767px) {
    .testemonial .container .content .text i {
        display: none;
    }
}

.testemonial .container .content .text h5 {
    letter-spacing: 1px;
    font-size: 20px;
}

.testemonial .container .content .text span {
    color: var(--gray);
}

/* Testemonials End */
/* Sponsors Start */
.sponsors {
    padding-block: 60px;
}

.sponsors .main-head h2 {
    width: 300px;
}

.sponsors .container {
    justify-content: center;
}

.sponsors .content {
    width: 60%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.sponsors .container .image {
    width: fit-content;
    padding: 20px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 16px 15px 15px var(--light-color);
}

@media (max-width:767px) {
    .sponsors .content {
        width: 80%;
    }

    .sponsors .container .image {
        width: 70px;
        padding: 12px;
    }
}

/* Sponsors End */

/* Footer Start */
footer {
    padding-block: 50px;
    background-color: var(--light-color);
}

footer .foot-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(243px, 1fr));
}

footer .foot-content .col:nth-of-type(2) {
    margin-left: 40px;
}

@media (max-width:767px) {
    footer .foot-content {
        text-align: center;
    }

    footer .foot-content .col:nth-of-type(2) {
        margin-left: 0;
    }

    footer .foot-content .col {
        margin-bottom: 15px;
    }

    footer .foot-content .col img {
        margin: 0 auto;
    }
}

footer .foot-content .col p {
    margin-block: 20px 15px;
}

footer .foot-content button {
    background-color: transparent;
    border: none;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.733);
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 20px;
}

footer .foot-content .media i {
    color: var(--dark-blue);
    padding: 10px;
    background-color: white;
    border-radius: 6px;
    margin-right: 8px;
}

footer .foot-content .col h4 {
    margin-bottom: 15px;
}

footer .foot-content .col li {
    margin-bottom: 5px;
    text-transform: capitalize;
    color: var(--gray);
}

footer .foot-content .col li i {
    color: #2d72f3d2;
    margin-right: 8px;
}

footer .container .flex {
    padding-top: 30px;
    margin-top: 70px;
    border-top: 1px solid #10173028;
}

@media (max-width:767px) {
    footer .container .flex {
        flex-direction: column;
        justify-content: center;
    }

    footer .container .apps {
        margin-bottom: 20px;
    }
}

footer .container a {
    display: inline-flex;
    align-items: center;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
}


footer .container a:first-of-type {
    background-color: white;
    color: var(--dark-blue);
    margin-right: 10px;
}

footer .container a:last-of-type {
    background-color: transparent;
    color: var(--dark-blue);
    border: 1px solid #0f16323f;
}



footer .container a i {
    font-size: 20px;
    margin-right: 10px;
}

@media (max-width:767px) {
    footer .container a {
        font-size: 12px;
    }

    footer .container a i {
        font-size: 15px;
    }
}